// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// GENERAL

html {
    overflow-y: scroll;
}

body {
    // font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.debug {
    border: 1px solid red;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

select {
    border: 1px solid #ccc;
}

.modal {
    margin-left: 20vh;
}

body.modal-open {
    padding-right: 0 !important; /* o il valore corretto per il tuo layout */
}

// SIDEBAR

.sidebar {
    width: 20vw;
    position: fixed;
    height: 100vh;
    padding-bottom: 500px;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #212529;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1030;
    scrollbar-gutter: stable;
}

.sidebar h3 {
    color: #fff;
    margin-bottom: 30px;
}

.nav-link {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

.active-navlink {
    background-color: #575757;
    border-radius: 5px;
}

// CONTENT

.content {
    position: relative;
    margin-left: 20vw;
    flex-grow: 1;
    padding: 2rem;
}

.header h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

// DASHBOARD

#dashboard-cards .card {
    transition: transform 0.3s ease;
}

#dashboard-cards .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

// SHOW

.card {
    margin-bottom: 20px;
}

#img-details {
    height: 70vh;
}

#img-details > img {
    object-fit: contain;
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-text {
    font-size: 1rem;
}

.card-body img {
    border: 3px solid #ddd;
}

// FORMS

form input,
form textarea {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

#form-info {
    font-style: italic;
    margin-left: 1em;
}

#input-info {
    display: block;
    font-size: 0.875rem;
    color: #6c757d;
    font-style: italic;
}

form textarea {
    resize: none;
}

#videogame-details-btn {
    height: 35px;
}

input[type="checkbox"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

// SECONDARY SHOW

.section-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.section-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card {
    border: none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #f1f3f5;
}

.card-body {
    font-size: 1rem;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

// TABLE

th {
    height: 33px;
    text-align: center;
    vertical-align: middle;
}

td {
    height: 66px;
    text-align: center;
    vertical-align: middle;
}

td:not(.not-break) {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

#logo {
    object-fit: contain;
}

// PAGINATION

.pagination {
    --bs-pagination-color: black;
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-table-striped-bg);
    background-color: var(--bs-pagination-hover-bg);
    border-color: black !important;
}

.page-link.active,
.active > .page-link {
    z-index: 3;
    color: black;
    background-color: var(--bs-table-striped-bg);
    border-color: black;
}

.page-link:focus {
    box-shadow: none;
}

// SEARCHBAR

#showAll > a {
    width: 100%;
    height: 100%;
}

// SELECTED MENU

.selected-menu {
    position: fixed;
    width: 34vw;
    bottom: 1%;
    left: calc(50% + 10vw);
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: sans-serif;
}

// OVERLAY

#current-screenshot-overlay,
#new-screenshot-overlay,
#current-cover-overlay,
#new-cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.overlay-img-container {
    position: fixed;
    top: 50%;
    left: calc(50% + 10vw);
    transform: translate(-50%, -50%);
    width: 50vw;
}

#post-image,
#post-dynamic-image {
    cursor: zoom-in;
}

// ICONS

#arrow-left-current,
#arrow-left-new {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: white;
    font-size: xx-large;
}

#arrow-right-current,
#arrow-right-new {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: white;
    font-size: xx-large;
}

#pencil:hover {
    color: orange;
}

#trash:hover:not(.deleteAll) {
    color: red;
}

#eye:hover {
    color: #0dcaf0;
}

#plus:hover {
    color: blue;
}

.fa-sharp,
.bi-trash {
    margin-right: 0.21rem;
}

// SCREENSHOTS INPUT

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.preview {
    position: relative;
    margin: 5px;
}

.preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.current-screenshot {
    object-fit: cover;
    width: 124px;
    height: 62px;
}

.current-cover {
    object-fit: contain;
}

.remove-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    width: 20px;
    height: 20px;
}

// LOADER

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
    /* nascosto di default */
}

/* Spinner */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

// ********************* MEDIA QUERY *********************

@media (max-width: 769px) {
    // GENERAL

    .wrapper {
        flex-direction: column;
    }

    // SIDEBAR

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        margin-bottom: 20px;
        padding: 1rem;
        z-index: 1020;
    }

    .sidebar h3 {
        font-size: 1.25rem;
    }

    .sidebar-header-sticky {
        position: sticky;
        top: 0;
        background-color: #212529;
        z-index: 1020;
        padding: 1rem 0;
    }

    #mobileSidebarMenu {
        margin-top: 1rem;
    }

    // CONTENT

    .content {
        margin-left: 0;
        margin-top: 5rem;
    }

    // TABLE

    th,
    td {
        vertical-align: middle;
        text-align: center;
        height: auto;
    }

    #comma {
        display: none;
    }

    .selected-menu {
        position: fixed;
        width: 50vw;
        left: 70%;
    }

    #cancel-all,
    #deleteAll {
        width: 30px;
        height: 30px;
    }

    // FORMS

    #pegi {
        height: 20px;
    }

    #pegi-select {
        margin-left: 85px;
    }

    // SEARCHBAR

    #select-publisher {
        width: 75%;
    }

    // ICONS

    .fa-sharp,
    .bi-trash {
        margin-right: 0;
    }

    // OVERLAY

    .overlay-img-container {
        left: 50%;
        width: 350px;
    }

    #img-details {
        height: 50vh;
    }

    #screenshot-details {
        height: 25vh;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .modal {
        margin-left: 0;
    }
}
