/* GENERAL  */

body {
  font-family: 'Arial', sans-serif;
  background-color: #ebedef;
}

.debug {
  border: 1px solid red;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  height: 10vh;
}

/* Navbar */

.navbar-brand {
  font-weight: bold;
}

nav {
  height: 5vh;
}

/* MAIN */

main {
  height: auto;
  margin-top: 15vh;
}

/* VIDEOGAME DETAILS */

#screenshot-details {
  height: calc(50vh / 4);
}

/* Footer */

footer {
  height: 10vh;
  background: #222;
  color: white;
}

/* ***** MEDIA QUERY ***** */

@media screen and (max-width: 480px) {
  /* h1 {
        display: none;
    } */
}
